@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        color: #fcefed;
        background-color: #fcefed;
        box-shadow: 20px 20px 60px #fcefed, -20px -20px 60px #fcefed;
    }
    50% {
        color: #fcefed;
        background-color: #fcefed;
        box-shadow: 20px 20px 60px #fcefed, -20px -20px 60px #fcefed;
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.02;
    }
    100% {
        transform: translateX(0);
    }
}

mat-grid-list {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#leftside1 {
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
#leftside2 {
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
#leftside3 {
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

#rightside {
    animation: 1.5s ease-out 0s 1 slideInFromRight;
}

img {
    border-radius: 10px;
}

.left {
    text-align: left;
}

h3,
h5 {
    margin: 0px 0px 20px 0px;
}

h3 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
    font-weight: normal;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #edfafc;
    width: 50%;
    border-radius: 25px;
    height: 50px;
    color: #4b4747;
}
.mat-flat-button.mat-primary:hover,
.mat-raised-button.mat-primary:hover,
.mat-fab.mat-primary:hover,
.mat-mini-fab.mat-primary:hover {
    border-radius: 50px;
    background: #edfafc;
    box-shadow: inset 20px 20px 60px #36459a, inset -20px -20px 60px #485dd0;
    color: #4b4747;
}
