<mat-grid-list cols="4" rowHeight="100px" style="justify-content: flex-end;">
    <mat-grid-tile [colspan]="2" [rowspan]="1.5" id="titleAni"
        [ngClass]="(showTitle === true) ? 'scale-out' : 'scale-in'">
        <content class="title">
            <h1>Trending Products</h1>
            <h3>Let's see what others are looking at!</h3>
        </content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="5.5" id="firstAni"
        [ngClass]="(showFirst === true) ? 'scale-out' : 'scale-in'">

        <content class="left">
            <mat-card class="first">
                <mat-card-header>
                    <mat-card-title>{{leftMiddleOne.title}}</mat-card-title>
                    <mat-card-subtitle>${{leftMiddleOne.price}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{leftMiddleOne.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </mat-card>
        </content>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="5.5" id="secondAni"
        [ngClass]="(showSecond === true) ? 'scale-out' : 'scale-in'">

        <content class="left">
            <mat-card class="second">
                <mat-card-header>
                    <mat-card-title>{{rightMiddleOne.title}}</mat-card-title>
                    <mat-card-subtitle>${{rightMiddleOne.price}}</mat-card-subtitle>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{rightMiddleOne.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </mat-card>
        </content>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="5.5" id="thirdAni"
        [ngClass]="(showThird === true) ? 'scale-out' : 'scale-in'">

        <content class="left">
            <mat-card class="third">
                <mat-card-header>
                    <mat-card-title>{{leftMiddleTwo.title}}</mat-card-title>
                    <mat-card-subtitle>${{leftMiddleTwo.price}}</mat-card-subtitle>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{leftMiddleTwo.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </mat-card>
        </content>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="5.5" id="fourthAni"
        [ngClass]="(showFourth === true) ? 'scale-out' : 'scale-in'">

        <content class="left">
            <mat-card class="fourth">
                <mat-card-header>
                    <mat-card-title>{{rightMiddleTwo.title}}</mat-card-title>
                    <mat-card-subtitle>${{rightMiddleTwo.price}}</mat-card-subtitle>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{rightMiddleTwo.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </mat-card>
        </content>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1.5" id="allAni" [ngClass]="(showAll === true) ? 'scale-out' : 'scale-in'">
        <content id="right" class="all">
            <a href="/products">
                <button mat-raised-button color="primary">
                    View All Products
                </button>
            </a>
        </content>
    </mat-grid-tile>
</mat-grid-list>