mat-grid-list {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

mat-card-title {
    text-transform: capitalize;
}

.mat-grid-tile {
    justify-content: flex-end !important;
}
img {
    height: 20rem;
    width: 35rem;
    border-radius: 10px;
}

h3 {
    font-style: normal;
}

.title {
    transform: translate(-40px);
}

.first {
    border-radius: 10px;
    background-color: #85ff9da8;
    transform: translate(-25px);
}
.first:hover {
    background: #85ff9d;
    box-shadow: 2px 2px 6px #71d985, -2px -0px 6px #99ffb5;
}
.second {
    border-radius: 10px;
    background-color: #ffda8583;
    transform: translate(25px);
}

.second:hover {
    background: #ffda85;
    box-shadow: 2px 2px 6px #d9b971, -2px -0px 6px #fffb99;
}
.third {
    border-radius: 10px;
    background-color: #ff85e78e;
    transform: translate(-25px);
}
.third:hover {
    background: #ff85e7;
    box-shadow: 2px 2px 6px #ff85e7, -2px -0px 6px #ff99ff;
}
.fourth {
    border-radius: 10px;
    background-color: #85aaffc5;
    transform: translate(25px);
}
.fourth:hover {
    background: #85aaff;
    box-shadow: 2px 2px 6px #7191d9, -2px -0px 6px #99c4ff;
}

.all {
    transform: translate(-70px);
}

#titleAni,
#firstAni,
#secondAni,
#thirdAni,
#fourthAni,
#allAni {
    display: none;
}

.left {
    text-align: center;
    width: 90%;
}

mat-card {
    border-radius: 10px;
    background-color: rgb(252, 241, 225);
}

mat-card:hover {
    background: #fcf1e1;
    box-shadow: 2px 2px 6px #d6cdbf, -2px -0px 6px #ffffff;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #3f51b5;
    width: 150%;
    border-radius: 25px;
    height: 50px;
    font-size: 20px;
}
.mat-flat-button.mat-primary:hover,
.mat-raised-button.mat-primary:hover,
.mat-fab.mat-primary:hover,
.mat-mini-fab.mat-primary:hover {
    border-radius: 50px;
    background: #3f51b5;
    box-shadow: inset 20px 20px 60px #36459a, inset -20px -20px 60px #485dd0;
    font-size: 20px;
}

.scale-out {
    animation: scale-out 0.5s ease-in 0s 1;
}
.scale-in {
    animation: scale-in 1s ease-out 0s 1;
}

@keyframes scale-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes scale-in {
    0% {
        transform: translateY(100%);
        color: white;
        background-color: white;
        box-shadow: 20px 20px 60px #ffffff, -20px -20px 60px #ffffff;
        opacity: 0;
    }
    50% {
        color: white;
        background-color: white;
        box-shadow: 20px 20px 60px #ffffff, -20px -20px 60px #ffffff;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}
