mat-grid-list {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

img {
    height: 20rem;
    width: 35rem;
    border-radius: 10px;
}

h3 {
    font-style: normal;
}

#titleAni,
#firstAni,
#secondAni,
#thirdAni,
#fourthAni,
#allAni {
    display: none;
}

.left {
    text-align: center;
    width: 90%;
}

mat-card {
    border-radius: 10px;
    background-color: rgb(252, 241, 225);
}

mat-card:hover {
    background: #fcf1e1;
    box-shadow: 2px 2px 6px #d6cdbf, -2px -0px 6px #ffffff;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #3f51b5;
    width: 150%;
    border-radius: 25px;
    height: 50px;
    font-size: 20px;
}
.mat-flat-button.mat-primary:hover,
.mat-raised-button.mat-primary:hover,
.mat-fab.mat-primary:hover,
.mat-mini-fab.mat-primary:hover {
    border-radius: 50px;
    background: #3f51b5;
    box-shadow: inset 20px 20px 60px #36459a, inset -20px -20px 60px #485dd0;
    font-size: 20px;
}

.scale-out {
    animation: scale-out 0.5s ease-in 0s 1;
}
.scale-in {
    animation: scale-in 1s ease-out 0s 1;
}

@keyframes scale-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes scale-in {
    0% {
        transform: translateY(100%);
        color: white;
        background-color: white;
        box-shadow: 20px 20px 60px #ffffff, -20px -20px 60px #ffffff;
        opacity: 0;
    }
    50% {
        color: white;
        background-color: white;
        box-shadow: 20px 20px 60px #ffffff, -20px -20px 60px #ffffff;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}
