<mat-toolbar>
    <a href="/home" id="company"><span id="left">Company</span></a>

    <div class="navbar" id="center">
        <div *ngFor="let tb of toolbar" class="dropdown">
            <button class="dropbtn">{{tb.dropdown}} <mat-icon size="small">keyboard_arrow_down</mat-icon>
            </button>
            <div class="dropdown-content">
                <div class="row">
                    <mat-card *ngFor="let product of tb.products" class="column">
                        <a href={{product}}>
                            {{product}}
                        </a>
                    </mat-card>
                    <mat-card *ngFor="let about of tb.about" class="column">
                        <a href={{about}}>{{about}} </a>
                    </mat-card>
                    <mat-card *ngFor="let learn of tb.learn" class="column">
                        <a href={{learn}}>{{learn}} </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div id="right">
        Log in
    </div>

</mat-toolbar>