<mat-toolbar>
    <div>test</div>
    <div>test</div>
    <div>test</div>
    <hr style="width:50%;text-align:left;margin-left:0">
    <div>test</div>
    <div>test</div>

    <br />
    <div class="list">
        <mat-list>
            <mat-list-item *ngFor="let link of test">
                <span class="titles">{{ link.title }}</span>
                <mat-nav-list>
                    <mat-list-item *ngFor="let product of link.productsList">
                        {{product}}
                    </mat-list-item>
                    <mat-list-item *ngFor="let about of link.aboutList">
                        {{about}}
                    </mat-list-item>
                    <mat-list-item *ngFor="let learn of link.learnList">
                        {{learn}}
                    </mat-list-item>
                </mat-nav-list>
            </mat-list-item>
        </mat-list>
    </div>
</mat-toolbar>