<mat-grid-list cols="4" rowHeight="100px" class="slideup">
    <mat-grid-tile *ngFor="let left of leftTemp" [colspan]="2" [rowspan]="4">
        <content>
            <img src={{left.image}}>
        </content>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let right of rightTemp" [colspan]="2" [rowspan]="4">
        <content id="right">
            <h3>{{right.title}}</h3>

            <h5>{{right.subtitle}}</h5>
            <br />
            <button mat-raised-button color="primary" class="slideup">
                {{right.button}}
            </button>
        </content>
    </mat-grid-tile>
</mat-grid-list>