// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$website-layout-primary: mat-palette($mat-indigo);
$website-layout-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$website-layout-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$website-layout-theme: mat-light-theme(
  (
    color: (
      primary: $website-layout-primary,
      accent: $website-layout-accent,
      warn: $website-layout-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($website-layout-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 6210px;
}
body {
  margin: 0;
  font-family: Geneva;
  color: #5a5a5a;
  background: linear-gradient(#b5a33f2c 20%, #b5a33fc2 30%, #b5a33f2c);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(200%);
    color: white;
    background-color: white;
    box-shadow: 20px 20px 60px #ffffff, -20px -20px 60px #ffffff;
    opacity: 0;
  }
  50% {
    color: white;
    background-color: white;
    box-shadow: 20px 20px 60px #ffffff, -20px -20px 60px #ffffff;
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

.slideup {
  animation: 1.5s ease-out 0s 1 slideInFromBottom;
}

mat-grid-list {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
