<mat-grid-list cols="4" rowHeight="100px" id="start">
    <mat-grid-tile [colspan]="4" [rowspan]="2" id="header">
        We can do anything you ask for
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="8">
        <content *ngFor="let one of leftTestOne">
            <h1>{{one.image}}</h1>
        </content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="8" *ngFor="let two of rightTestOne">
        <content id="firstQuote">
            <h1>{{two.title}}</h1>
            <q style="font-style: italic;">{{two.quote}}</q>
            <h1>-<img src={{two.quoter}} class="company"></h1>
        </content>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="2" [rowspan]="8" *ngFor="let three of leftTestTwo">
        <content id="secondQuote">
            <h1>{{three.title}}</h1>
            <q style="font-style: italic;">{{three.quote}}</q>
            <h1>
                <span>-</span><img src={{three.quoter}} class="company">
            </h1>
        </content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="8" *ngFor="let four of rightTestTwo">
        <h1>{{four.image}}</h1>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="300px">
    <content class="parent" @parentAnimation *ngIf="visible">
        <mat-grid-tile *ngFor="let last of lastTest" class="child">
            <mat-card>
                <mat-card-subtitle>{{last.title}}</mat-card-subtitle>
                <img mat-card-sm-image id="image" src={{last.company}}>
            </mat-card>
        </mat-grid-tile>
    </content>
</mat-grid-list>